// Проекты

.project {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: calc(#{$neg} * #{$card-set-gap});
  margin-top: calc(#{$neg} * #{$card-set-gap});
}

.card {
  border: 1px solid $project-card-border-color;
  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__description {
    padding: 0;
    margin: 0;

    font-size: $size-h3;
    line-height: 1.9;
    color: $primery-text-color;
  }

  &__content {
    padding: 0 24px;
  }

  &___title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
    text-decoration: none;

    color: $secondary-text-color;
  }

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
      0 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.card {
  flex-basis: calc(100% / 3 - #{$card-set-gap});
  margin-left: $card-set-gap;
  margin-top: $card-set-gap;
}

.card__text-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 63px 24px;

  font-size: $font-size-portfolio;
  line-height: 1.56;
  color: $secondary-text-color;

  opacity: 0;
  transform: translateY(100%);
  transition: opacity $time $cubic, transform $time $cubic;
}
.card:hover .card__text-hover {
  transform: translateY(0);
  opacity: 1;
}
.card__image::before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: $portfolio-card-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity $time $cubic, transform $time $cubic;
}

.card:hover .card__image::before {
  transform: translateY(0);
  opacity: 1;
}

.card__title {
  padding: 0;
  margin: 0;
  margin-bottom: 4px;

  font-size: $font-size-portfolio;
  line-height: 2;
  letter-spacing: 0.05em;
  text-decoration: none;

  color: $secondary-text-color;
}
